body {
    font-family: 'Comfortaa', cursive;
    line-height: 1.8;
    color: black;
}
p {font-size: 16px;}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


/* Add a gray background color with some padding
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}
*/



